#gradient2{
    background-color: red;
    background-image: linear-gradient(to bottom right, red, yellow);
}
#gradient{
    z-index: -1;
    background-color: silver;
    background-image: linear-gradient(to bottom right,silver, black);
}
#smart-button-container{
    position: absolute;
    top: 30%;
    right: 45%;
}
#testBtn{
    background-color: #909090;
}
#textToCopy{
    color: silver;
}
.bubble{
    width: 0.2%;
    height: 0.2%;
    background-color: skyblue;
}